.about {
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
}
.about h2,
h3 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
.about h3 {
	font-weight: 200;
	font-size: 4rem;
}
.about-container {
	display: grid;
	margin: 5rem 0;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.about-img {
	background-color: var(--primary-color);
	position: relative;
	border-radius: 50%;
	width: 30rem;
	height: 30rem;
}
.about-img > img {
	position: absolute;
	top: -12rem;
	left: -9rem;
}
.about-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.skills {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-top: 5rem;
}
.skills img {
	width: 7rem;
}
.skill-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	justify-content: space-around;
	border-radius: 1rem 0 1rem 0;
	padding: 1rem 0;
}
.skill-card-img {
	background-color: var(--primary-color-transparent);
	display: flex;
	height: 7.5rem;
	width: 7.5rem;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}
.skill-card h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	text-align: center;
}
.skill-card p {
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

@media (max-width: 768px) {
	.about-container {
		gap: 3rem;
		grid-template-columns: 1fr;
		justify-items: center;
	}
}

@media (max-width: 425px) {
	.skills {
		grid-template-columns: 1fr;
	}
}
