.hero {
	display: flex;
	justify-content: center;
}
.hero-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.hero-information h2 {
	font-size: 6rem;
	margin-bottom: 3rem;
	text-transform: uppercase;
}
.hero-img img {
	width: 100%;
}
@media (max-width: 768px) {
	.hero-content {
		grid-template-columns: 1fr;
	}
	.hero-information {
		padding-top: 3rem;
	}
	.hero-img {
		display: flex;
		justify-content: center;
	}
	.hero-img img {
		width: 80%;
	}
}
