/* menu */
.menu {
	background: var(--white-color-1-transparent);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	box-shadow: 0 0.1rem 0.3rem 0 rgb(0 0 0 / 0.1),
		0 0.1rem 0.2rem -0.1rem rgb(0 0 0 / 0.1);
	z-index: 100;
}
.menu-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
}
.menu h1 {
	font-size: 2.3rem;
	color: var(--primary-color);
}
.menu h1 a {
	color: inherit;
}

/* navigation */
.menu ul {
	list-style: none;
	display: flex;
}
.menu ul li a {
	display: block;
	padding: 2rem;
	font-size: 1.8rem;
	position: relative;
	color: var(--primary-color);
}
.menu ul li a::after {
	content: '';
	position: absolute;
	bottom: 1.3rem;
	left: 0;
	width: 0;
	height: 0.3rem;
	background-color: var(--red-color);
	transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
	width: 100%;
}

.close-menu {
	display: none;
}
@media (max-width: 768px) {
	.menu {
		bottom: 0;
		text-align: center;
		display: none;
	}
	.menu-content {
		height: 100vh;
		/* overflow: hidden; */
	}
	.menu-content,
	.menu-content ul {
		flex-direction: column;
		justify-content: center;
		/* align-items: center; */
	}
	.close-menu-label::after {
		content: '≡';
		position: fixed;
		z-index: 101;
		top: 2rem;
		right: 2rem;
		background-color: var(--primary-color);
		color: var(--white-color-1);
		font-size: 3rem;
		line-height: 3rem;
		width: 3.5rem;
		height: 3.5rem;
		text-align: center;
		cursor: pointer;
	}
	.close-menu:checked ~ .menu {
		display: block;
	}
	.close-menu:checked ~ .close-menu-label::after {
		content: '×';
	}
	.spacing {
		display: none;
	}
}
